{% extends "base.njk" %}
{% from "base.njk" import par, cta %}

{% block title %}
  Covee Magic Signup
{% endblock %}

{% block preheader %}
  Your magic signup link has arrived.
{% endblock %}

{% block content %}
{{ par("Hi there,") }}
{{ par("You have requested a signup.") }}
{{ cta("Signup", "{{ signupMagicLink }}") }}
{% endblock %}
