{% extends "_cta.njk" %}

{% set title %}
  Covee Email Change Confirmation
{% endset %}

{% set preview %}
  Your magic email-change link has arrived.
{% endset %}

{% set ctaActionLabel %}
  Confirm Email
{% endset %}

{% block ctaContent %}
  <mj-text>You have requested an email change.</mj-text>
{% endblock %}
