{% extends "_cta.njk" %}

{% set title %}
  Covee New Assignment
{% endset %}

{% set preview %}
  You have a new assignment waiting for you.
{% endset %}

{% set roleToken %}
  {% if roleTitle %} 
    the role of {{ roleTitle | trim }}
  {% else %}
    a role
  {% endif %}
{% endset %}

{% set ctaActionLabel %}
  Get Started
{% endset %}

{% block ctaContent %}
  <mj-text>You were assigned "{{ roleToken | trim }}" in "{{ projectTitle | trim }}".</mj-text>
{% endblock %}
