{% extends "_cta.njk" %}

{% set title %}
  Covee Magic Login
{% endset %}

{% set preview %}
  Your magic login link has arrived.
{% endset %}

{% set ctaLabel %}
  Login
{% endset %}

{% block ctaContent %}
  <mj-text>You have requested a login.</mj-text>
{% endblock %}
