{% extends "_cta.njk" %}

{% set title %}
  Covee New Assignment
{% endset %}

{% set preview %}
  You have a new assignment waiting for you in "{{ projectTitle }}".
{% endset %}

{% set roleToken %}
  {% if roleTitle %} 
    the role of "{{ roleTitle }}"
  {% else %}
    a role
  {% endif %}
{% endset %}

{% set ctaActionLabel %}
  See Assignment
{% endset %}

{% block ctaContent %}
  <mj-text>You were assigned {{ roleToken | trim }} in "{{ projectTitle | trim }}".</mj-text>
{% endblock %}
