{% extends "_cta.njk" %}

{% set title %}
  Peer Review Requested
{% endset %}

{% set preview %}
  Your peer-review is needed in "{{ projectTitle }}".
{% endset %}

{% set ctaActionLabel %}
  Submit Peer Review
{% endset %}

{% block ctaContent %}
  <mj-text>You are requested to submit a peer-review in "{{ projectTitle | trim }}".</mj-text>
{% endblock %}