{% extends "_cta.njk" %}

{% set title %}
  Project Finished
{% endset %}

{% set preview %}
  Your project "{{ projectTitle }}" is finished.
{% endset %}

{% set ctaActionLabel %}
  Check Results
{% endset %}

{% block ctaContent %}
  <mj-text>Project "{{ projectTitle | trim }}" is finshed and the results are ready.</mj-text>
{% endblock %}
