{% extends "_cta.njk" %}

{% set title %}
  Covee Magic Signup
{% endset %}

{% set preview %}
  Your magic signup link has arrived.
{% endset %}

{% set ctaLabel %}
  Signup
{% endset %}

{% block ctaContent %}
  <mj-text>You have requested a signup.</mj-text>
{% endblock %}
