{% extends "_base.njk" %}

{% block title %}
  Covee New Assignment
{% endblock %}

{% block preview %}
  You have a new assignment waiting for you.
{% endblock %}

{% set roleToken %}
  {% if roleTitle %} 
    the role of {{ roleTitle }}
  {% else %}
    a role
  {% endif %}
{% endset %}

{% set projectToken %}
  {% if projectTitle %}
    {{ projectTitle }}
  {% else %}
    a project
  {% endif %}
{% endset %}

{% block content %}
<mj-section>
  <mj-column>
    <mj-text>Hi there,</mj-text>
    <mj-text>You were assigned {{ roleToken | trim }} in {{ projectToken | trim }}.</mj-text>
    <mj-spacer />
    <mj-button mj-class="primary-button" href="{{ signupMagicLink }}">Get Started</mj-button>
    <mj-text mj-class="alt-text">Link not working? Try this: <a href="{{ signupMagicLink }}">{{ signupMagicLink }}</a></mj-text>
    <mj-spacer />
    <mj-text>- Team Covee</mj-text>
  </mj-column>
</mj-section>
{% endblock %}
