{% extends "_cta.njk" %}

{% block title %}
  Covee New Assignment
{% endblock %}

{% block preview %}
  You have a new assignment waiting for you.
{% endblock %}

{% set roleToken %}
  {% if roleTitle %} 
    the role of {{ roleTitle }}
  {% else %}
    a role
  {% endif %}
{% endset %}

{% set ctaActionLabel %}
  Get Started
{% endset %}

{% block ctaContent %}
  <mj-text>You were assigned {{ roleToken | trim }} in {{ projectTitle or "a project" | trim }}.</mj-text>
{% endblock %}
