{% extends "_cta.njk" %}

{% set title %}
  Manager Review Requested
{% endset %}

{% set preview %}
  We need your approval in "{{ projectTitle }}" to publish results.
{% endset %}

{% set ctaActionLabel %}
  Submit Manager Review
{% endset %}

{% block ctaContent %}
  <mj-text>All peer-reviews have been submitted in "{{ projectTitle | trim }}" and you are requested to submit a manager-review.</mj-text>
{% endblock %}
