{% extends "_base.njk" %}

{% block title %}
  Manager Review Requested
{% endblock %}

{% block preview %}
  We need your approval to publish results.
{% endblock %}

{% block content %}
<mj-section >
  <mj-column>
    <mj-text>Hi there,</mj-text>
    <mj-text>All peer-reviews have been submitted in {{ projectTitle or "a project you are a manager in"  | trim }} and you are requested to submit a manager-review.</mj-text>
    <mj-spacer />
    <mj-button mj-class="primary-button" href="{{ projectUrl }}">Submit Manager Review</mj-button>
    <mj-text mj-class="alt-text">Link not working? Try this: <a href="{{ projectUrl }}">{{ projectUrl }}</a></mj-text>
    <mj-spacer />
    <mj-text>- Team Covee</mj-text>
  </mj-column>
</mj-section>
{% endblock %}
