{% extends "_cta.njk" %}

{% block title %}
  Manager Review Requested
{% endblock %}

{% block preview %}
  We need your approval to publish results.
{% endblock %}

{% set ctaLabel %}
  Submit Manager Review
{% endset %}

{% block ctaContent %}
  <mj-text>All peer-reviews have been submitted in {{ projectTitle or "a project you are a manager in" | trim }} and you are requested to submit a manager-review.</mj-text>
{% endblock %}
