{% extends "_base.njk" %}

{% block title %}
  Covee New Assignment
{% endblock %}

{% block preview %}
  You have a new assignment waiting for you.
{% endblock %}

{% block content %}
<mj-section >
  <mj-column>
    <mj-text>Hi there,</mj-text>
    <mj-text>You have a new assignment.</mj-text>
  </mj-column>
</mj-section>
{% endblock %}
