{% extends "_cta.njk" %}

{% block title %}
  Peer Review Requested
{% endblock %}

{% block preview %}
  Your peer-review is needed.
{% endblock %}

{% set ctaLabel %}
  Submit Peer Review
{% endset %}

{% block ctaContent %}
  <mj-text>You are requested to submit a peer-review in {{ projectTitle or "a project" | trim }}.</mj-text>
{% endblock %}