{% extends "_cta.njk" %}

{% block title %}
  Project Finished
{% endblock %}

{% block preview %}
  Your project is finished.
{% endblock %}

{% set ctaActionLabel %}
  Check Results
{% endset %}

{% block ctaContent %}
  <mj-text>{{ projectTitle or "A project you were assigned to" | trim }} has finshed and the results are ready.</mj-text>
{% endblock %}
