{% extends "_base.njk" %}

{% block title %}
  Covee Magic Signup
{% endblock %}

{% block preview %}
  Your magic signup link has arrived.
{% endblock %}

{% block content %}
<mj-section>
  <mj-column>
    <mj-text>Hi there,</mj-text>
    <mj-text>You have requested a signup.</mj-text>
    <mj-spacer />
    <mj-button mj-class="primary-button" href="{{ signupMagicLink }}">Signup</mj-button>
    <mj-text mj-class="alt-text">Link not working? Try this: <a href="{{ signupMagicLink }}">{{ signupMagicLink }}</a></mj-text>
    <mj-spacer />
    <mj-text>- Team Covee</mj-text>
  </mj-column>
</mj-section>
{% endblock %}
